.randomTalk {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 160px;
  padding: 20px;
  background: var(--card-color);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 5px 16px -2px #00000012;
}

.randomTalkText {
  font-size: 18px;
  font-weight: 700;
}

.randomTalkAuthor {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.loading {
  text-align: center;
}

@media (max-width: 786px) {
  .randomTalk {
    margin-bottom: 20px;
  }
}