.language {
  display: flex;
  align-items: center;
}

.title {
  flex: 1;
  font-size: 15px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #8a8a8a;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 0px;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #8a8a8a;
  margin: 0 10px;
}